body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
    text-align:center;
	width:100%;
	margin: auto;
	overflow: hidden;
}

.ml-container{
    text-align:center;
	width:100%;
	margin: auto;
	overflow: hidden;
}


header{
	background:#cccccc;
	border-bottom:#a8a8a8 3px solid;
	height:120px;
	width:100%;
	padding-top:30px;

}


header h2{
	text-align:center;
	color:black;

}

.btn-info {background-color: #e0e0e0;
	height:40px;
	width:100px;} /* Blue */
.btn-info:hover {background: #aaaaaa;}
